/* forms */

button, input[type='text'], input[type='password'], input[type='number'], select {
  transition: 40ms all;
  display: block;

  & + button, & + select, & + input {
    margin-left: 5px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $salt100, 0 0 0 3px rgba(0, 0, 0, 1);
  }
}

button, input[type='text'], input[type='password'], input[type='number'] {
  font-size: 16px;
  font-base()
  background: $salt100;
  padding: 2px 8px;
  border-mixin($salt100)
  -webkit-appearance: none;
  border-radius: 5px;
}

input[type='text'] {
  &:focus {
    background: $pepper600;
    color: $salt100;
  }
}

button {
  &:hover {
    background: darken($salt100, 5%);
  }

  &:active {
    background: darken($salt100, 10%);
  }
}

select {
  display: block;
  padding: 2px 23px 2px 8px;
  -webkit-appearance: none;
  border-mixin()
  border-radius: 0;
  font-size: 16px;
  font-base()
  background: $salt100  url('/assets/img/dropdown.png') no-repeat right center;
  box-shadow: 2px 2px $pepper600;

  &:hover {
    background: darken($salt100, 5%) url('/assets/img/dropdown.png') no-repeat right center;
  }

  &:active {
    background: darken($salt100, 10%) url('/assets/img/dropdown.png') no-repeat right center;
  }
}

textarea {
    font-alternate()
}

label {
  input {
    margin-right: 5px;
  }

  & + input[type='text'], & + input[type='password'], & + input[type='number'], & + select {
    margin-top: 2px;
  }
}