/* main */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  height: 100%;
}

body {
  background: $pepper500;
  font-smooth: never;
  font-synthesis: style;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: pixelated;
  font-base();
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}