font-base()
    font-family: Chicago, Arial, Helvetica, sans-serif;
    letter-spacing: initial;

font-alternate()
    font-family: Monaco, Arial, Helvetica, sans-serif
    font-size: 12px;
    letter-spacing: -0.5px;

user-select($value)
    user-select: $value

border-mixin($color = $pepper600, $style = solid, $width = 1px)
    border: $width $style $color

border-none()
    border: none

box-shadow-inset($1 = $salt300, $2 = $salt100, $3 = $black25)
    box-shadow: inset 1px 1px 0 $1, inset 2px 2px 0px $2, inset -1px -1px 0 $3;
