// plum - base color: 600
$plum100 = #f9eafa
$plum200 = #efc4f3
$plum300 = #df9ee5
$plum400 = #c67dcc
$plum500 = #a05da6
$plum600 = #7e4082 // brand color
$plum700 = #402b56 // brand color
$plum800 = #1d1934 // brand color

// mint - base color: 400
$mint100 = #d8f5ed
$mint200 = #b1f0e0
$mint300 = #85dec8
$mint400 = #6bccb3 // brand color
$mint500 = #52a38f
$mint600 = #2e7362
$mint700 = #1d5447

// peach - base color: 400
$peach100 = #ffe9e3
$peach200 = #fabeaf
$peach300 = #f09078
$peach400 = #e56a54 // brand color
$peach500 = #c44c31
$peach600 = #992f17
$peach700 = #7a1600

// banana - base color: 300
$banana100 = #fcf6d7
$banana200 = #faecaf
$banana300 = #f6dc6b // brand color
$banana400 = #deb743
$banana500 = #bf942e
$banana600 = #946a07
$banana700 = #593900

// blueberry - base color: 400
$blueberry100 = #d4f2fa
$blueberry200 = #abe7f7
$blueberry300 = #71d2eb
$blueberry400 = #4ec3e0 // brand color
$blueberry500 = #2c96b0
$blueberry600 = #2a6478
$blueberry700 = #2b4c59

// **************************************************************
// Primary Product Colors
// **************************************************************

// blackberry - base color: 500
$blackberry100 = #e0f2ff
$blackberry200 = #b8e1ff
$blackberry300 = #7ebfed
$blackberry400 = #54a2de
$blackberry500 = #2e7ab8
$blackberry600 = #205586
$blackberry700 = #1f4266

// strawberry - base color: 500
$strawberry100 = #ffe3e4
$strawberry200 = #faafb1
$strawberry300 = #f07d80
$strawberry400 = #db535a
$strawberry500 = #bf2e3a
$strawberry600 = #991525
$strawberry700 = #730b1d

// kiwi - base color: 500
$kiwi100 = #dff7e7
$kiwi200 = #b3f5ca
$kiwi300 = #7ee6a6
$kiwi400 = #5ccc89
$kiwi500 = #3ca666
$kiwi600 = #238749
$kiwi700 = #14522e

// **************************************************************
// Neutral Colors
// **************************************************************

// salt - base color: 300
$salt100 = #ffffff
$salt200 = #fafbfb
$salt300 = #f1f3f5
$salt400 = #e5e9ec
$salt500 = #d5dbe0
$salt600 = #c0c8cf

$white10 = rgba($salt100,.1)
$white25 = rgba($salt100,.25)
$white50 = rgba($salt100,.5)
$white75 = rgba($salt100,.75)
$white90 = rgba($salt100,.9)

// pepper - base color: 500
$pepper100 = #a6b0b9
$pepper200 = #87939e
$pepper300 = #65727d
$pepper400 = #414c56
$pepper500 = #20242b
$pepper600 = #000000

// pepper extended
$pepper450 = #2F353F
$pepper550 = #15181D

$black10 = rgba($pepper600,.1)
$black25 = rgba($pepper600,.25)
$black50 = rgba($pepper600,.5)
$black75 = rgba($pepper600,.75)
$black90 = rgba($pepper600,.9)

// **************************************************************
// Extended Product Colors
// **************************************************************

// tangerine - base color: 500
$tangerine100 = #faedde
$tangerine200 = #fad5aa
$tangerine300 = #edb06b
$tangerine400 = #de8d37
$tangerine500 = #c26b13
$tangerine600 = #944a00
$tangerine700 = #733700

// pomegranate - base color: 500
$pomegranate100 = #ffe6f3
$pomegranate200 = #fcb3da
$pomegranate300 = #ed82bb
$pomegranate400 = #e05aa2
$pomegranate500 = #ba4182
$pomegranate600 = #842256
$pomegranate700 = #4d1b35
