


font-base()
    font-family: Chicago, Arial, Helvetica, sans-serif

font-alternate()
    font-family: Arial, Helvetica, sans-serif

// colors
$gray-1 = #ececec
$gray-2 = #d2d2d2
$gray-3 = #8d8d8d
$gray-6 = #232323
$clr-accent = #64639f
